<html data-theme="light" lang="ko">
<!-- 모바일에서 화면 압축 금지 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>오름 오름</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
    <!--          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->


    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" media="all">

    <script src="/resource/common/common.js"></script>
    <link rel="stylesheet" href="/resource/common/common.css">

    <!--    부트스트랩 아이콘 불러오기-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-messaging.js"></script>

    <script>
        // 타임리프 문법(파라미터, ? 뒤에 입력된 매개변수들)
        const params = JSON.parse('[( ${@rq.paramsJsonStr} )]');
        const isLogin = '[( ${@rq.isLogin} )]';
    </script>
</head>

<body>

<div>
    <header layout:fragment="header"></header>


    <main layout:fragment="main"></main>

    <!-- 공통 footer /!-->
    <footer layout:fragment="footer" class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">오름오름 웹사이트 &copy; 2023</span>
        </div>
    </footer>

    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
    <!-- 로그인 모달을 동작시키기 위함/-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

</div>

<script th:inline="javascript">
    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

    // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;

        if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        } else {
            const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___null";

            if (localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg)) {
                toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
                localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
            }
        }
    });


</script>
<script>
    // function getNotificationPermission() {
    //     // 브라우저 지원 여부 체크
    //     if (!("Notification" in window)) {
    //         alert("데스크톱 알림을 지원하지 않는 브라우저입니다.");
    //     }
    //     // 데스크탑 알림 권한 요청
    //     Notification.requestPermission(function (result) {
    //         // 권한 거절
    //         if (result == 'denied') {
    //             alert('알림을 차단하셨습니다.\n브라우저의 사이트 설정에서 변경하실 수 있습니다.');
    //             return false;
    //         }
    //     });
    // }
    //
    // const registerServiceWorker = async () => {
    //     if ("serviceWorker" in navigator) {
    //         try {
    //             const registration = await navigator.serviceWorker.register("/service-worker.js");
    //             if (registration.installing) {
    //                 console.log("Service worker installing");
    //             } else if (registration.waiting) {
    //                 console.log("Service worker installed");
    //             } else if (registration.active) {
    //                 console.log("Service worker active");
    //             }
    //         } catch (error) {
    //             console.error(`Registration failed with ${error}`);
    //         }
    //     }
    // };

    // const removeServiceWorker = async () => {
    //     if ("serviceWorker" in navigator) {
    //         navigator.serviceWorker.getRegistration().then(function (registration) {
    //             if (registration) {
    //                 registration.unregister().then(function (success) {
    //                     console.log('서비스 워커가 성공적으로 삭제되었습니다.');
    //                 }).catch(function (error) {
    //                     console.log('서비스 워커 삭제 중 오류가 발생했습니다:', error);
    //                 });
    //             } else {
    //                 console.log('현재 등록된 서비스 워커가 없습니다.');
    //             }
    //         });
    //     }
    // };

    // getNotificationPermission();
    // registerServiceWorker();

    // if (isLogin == 'false') {
    //     console.log("서비스워커 삭제");
    //     removeServiceWorker();
    // }
</script>
<script>
    const firebaseModule = (function () {
        async function init() {
            // Your web app's Firebase configuration
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', function () {
                    if (isLogin == 'false') {
                        if ('serviceWorker' in navigator) {
                            // 등록된 모든 서비스 워커를 가져옵니다.
                            navigator.serviceWorker.getRegistrations()
                                .then(function (registrations) {
                                    // 각 서비스 워커를 제거합니다.
                                    for (let registration of registrations) {
                                        registration.unregister();
                                    }
                                })
                                .catch(function (error) {
                                    console.error('Error unregistering service workers:', error);
                                });
                        }
                    } else {
                        navigator.serviceWorker.register('/firebase-messaging-sw.js')
                            .then(registration => {
                                var firebaseConfig = {
                                    apiKey: "AIzaSyCKee7nnW4dqTxmzHmuturfJmq9LyVY6A8",
                                    authDomain: "olol-3ccc5.firebaseapp.com",
                                    projectId: "olol-3ccc5",
                                    storageBucket: "olol-3ccc5.appspot.com",
                                    messagingSenderId: "706361316814",
                                    appId: "1:706361316814:web:9673b13cc2b64f5edbc79f",
                                    measurementId: "G-TE786CK734"
                                };
                                // Initialize Firebase
                                firebase.initializeApp(firebaseConfig);

                                // Show Notificaiton Dialog
                                const messaging = firebase.messaging();
                                messaging.requestPermission()
                                    .then(function () {
                                        return messaging.getToken();
                                    })
                                    .then(async function (token) {

                                        await fetch('/notification/register', {method: 'post', body: token})
                                        messaging.onMessage(payload => {
                                            const title = payload.notification.title
                                            const options = {
                                                body: payload.notification.body,
                                                image: payload.notification.image
                                            }
                                            navigator.serviceWorker.ready.then(registration => {
                                                registration.showNotification(title, options);
                                            })
                                        })

                                    })
                                    .catch(function (err) {
                                        console.log("Error Occured");
                                    })
                            })
                    }
                })
            }
        }

        return {
            init: function () {
                init()
            }
        }
    })()

    firebaseModule.init()
</script>
</body>
</html>