<html data-theme="light" lang="ko">

<head>
    <title>오름 오름</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <style>
        /* 추가적인 스타일을 적용할 수 있습니다 */
    </style>
</head>

<body>


<div>
    <header layout:fragment="header"></header>


    <main layout:fragment="main"></main>

    <!-- 공통 footer /!-->
    <footer layout:fragment="footer" class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">오름오름 웹사이트 &copy; 2023</span>
        </div>
    </footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>


</body>
</html>