<html layout:decorate="~{usr/layout/layout.html}">
<!--<link rel="stylesheet" href="common.css">-->

<head>
    <title>오름 오름(메인)</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <style>
        #btnScrollToTop {
            position: fixed;
            right: 10px;
            bottom: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: rgb(156, 185, 97);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            color: white;
            border: none;
            outline: none;
            cursor: pointer;
        }

        /*.custom-caption {*/
        /*    position: absolute;*/
        /*    top: 10%;*/
        /*    left: 10%;*/
        /*    transform: translate(-50%, -50%);*/
        /*    text-align: center;*/
        /*}*/

        #btnScrollToTop:active {
            background: darkgreen;
        }

        .smaller-text {
            font-size: 13px;
        }

        .card {
            transition: transform 0.2s;
        }

        .card:hover {
            transform: scale(1.05);
        }


        .form-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .form-container .form-control {
            flex: 0 0 calc(25% - 10px);
            width: 100%;
            max-width: calc(25% - 10px);
        }

        .form-container .form-control:last-child {
            flex-basis: 100%;
        }

        /*검색창 사이즈*/
        /*.search-container {*/
        /*    flex-shrink: 0;*/
        /*    width: 200px;*/
        /*    margin-left: auto;*/
        /*}*/

        @font-face {
            font-family: 'omyu_pretty';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }

        .custom-first-div {
            font-family: 'omyu_pretty', Arial, sans-serif;
        }

        @media (max-width: 995px) {
            .search-container .input-group {
                max-width: none;
            }

            .form-container .form-control {
                flex: 0 1 100%;
            }

            .search-container .form-control {
                max-width: none;
            }

            .form-container .form-control {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        @media (max-width: 991px) {
            .carousel-container {
                display: none;
            }
        }

    </style>
</head>

<body>

<main layout:fragment="main">

    <!--    <div class="jumbotron jumbotron-fluid">-->

    <!--                    <h1 class="display-4">환영합니다!</h1>-->
    <!--                    <p class="lead">오름오름 웹사이트에 오신 것을 환영합니다. 다양한 등산로 정보와 안전 가이드를 제공합니다.</p>-->
    <!--</div>-->
    <div class="container mt-5 mb-5 carousel-container" style="width: 100%; height: 400px;">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <!--                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"-->
                <!--                        aria-label="Slide 3"></button>-->
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="image-wrapper" style="width: 100%; height: 100%;">
                        <img src="/resource/common/images/pexels-isuru-udesh-mangala-1481581.jpg"
                             style="max-width: 100%; max-height: 100%;" class="d-block w-100" alt="...">
                        <!--       class="d-block w-100"                 <img src="your-image.jpg" style="max-width: 100%; max-height: 100%;" alt="...">-->
                    </div>

                    <div class="carousel-caption custom-first-div d-none d-md-block">
                        <div>
                            <h1>오름오름</h1>
                            <div class="fs-3">당신의 산행을 응원합니다.</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="image-wrapper" style="width: 100%; height: 100%;">
                        <img src="/resource/common/images/light-friendsec.jpg"
                             style="max-width: 100%; max-height: 100%;" class="d-block w-100" alt="...">
                        <!--       class="d-block w-100"                 <img src="your-image.jpg" style="max-width: 100%; max-height: 100%;" alt="...">-->
                    </div>

                    <div class="carousel-caption d-none d-md-block custom-caption">
                        <div class="custom-first-div">
                            <h1>오름오름</h1>
                            <div class="fs-3">오름오름에서 함께할 인연을 찾으세요</div>
                        </div>
                        <!--                        <h2>산행을 함꼐할 인연을 찾는 가장 쉬운 방법</h2>-->
                        <!--                        <span>오름오름에서 함께할 인연을 찾으세요</span>-->
                    </div>
                    <!--                    <img src="..." class="d-block w-100" alt="...">-->
                    <!--                    <div class="carousel-caption d-none d-md-block">-->
                    <!--                        <h5>Second slide label</h5>-->
                    <!--                        <p>Some representative placeholder content for the second slide.</p>-->
                    <!--                    </div>-->
                </div>
                <!--                <div class="carousel-item" data-bs-interval="10000">-->
                <!--                    <div class="image-wrapper" style="width: 100%; height: 100%;">-->
                <!--                        <img src="/resource/common/images/ryoo-geon-uk-bi-TDvIHsCs-unsplash.jpg"-->
                <!--                             style="max-width: 100%; max-height: 100%;" class="d-block w-100" alt="...">-->
                <!--                        &lt;!&ndash;       class="d-block w-100"                 <img src="your-image.jpg" style="max-width: 100%; max-height: 100%;" alt="...">&ndash;&gt;-->
                <!--                    </div>-->

                <!--                    <div class="carousel-caption custom-caption d-none d-md-block">-->
                <!--                        <div class="custom-first-div">-->
                <!--                            <div class="fs-1">오름오름</div>-->
                <!--                            <div class="fs-3">빌딩숲을 벗어나 여유를 찾으세요</div>-->
                <!--                        </div>-->
                <!--&lt;!&ndash;                        <h5>Third slide label</h5>&ndash;&gt;-->
                <!--&lt;!&ndash;                        <p>Some representative placeholder content for the third slide.</p>&ndash;&gt;-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <div class="container">
        <form th:action>
            <div class="form-container mb-2">
                <div class="form-control">
                    <label class="label">
                                <span class="label-text">
                                    <i class="fa-solid fa-person-half-dress" style="color: #2E7D32"></i>
                                    나이대
                                </span>
                    </label>
                    <select name="ageRange" class="select select-bordered w-full"
                            onchange="$(this).closest('form').submit();">
                        <option value="">전체</option>
                        <option value="10">10대</option>
                        <option value="20">20대</option>
                        <option value="30">30대</option>
                        <option value="40">40대</option>
                        <option value="50">50대</option>
                    </select>
                    <script>
                        if (params.ageRange) {
                            $(`select[name="ageRange"]:last`).val(params.ageRange[0]);
                        }
                    </script>
                </div>

                <div class="form-control">
                    <label class="label">
                                <span class="label-text">
                                    <i class="fa-solid fa-check" style="color: #2E7D32"></i>
                                    주간/야간
                                </span>
                    </label>
                    <select name="dayNight" class="select select-bordered w-full"
                            onchange="$(this).closest('form').submit();">
                        <option value="">전체</option>
                        <option value="1">주간</option>
                        <option value="2">야간</option>
                    </select>
                    <script>
                        if (params.dayNight) {
                            $(`select[name="dayNight"]:last`).val(params.dayNight[0]);
                        }
                    </script>
                </div>

                <div class="form-control">
                    <label class="label">
                                <span class="label-text">
                                    <i class="fa-solid fa-check" style="color: #2E7D32"></i>
                                    번개/정기
                                </span>
                    </label>
                    <select name="typeValue" class="select select-bordered w-full"
                            onchange="$(this).closest('form').submit();">
                        <option value="">전체</option>
                        <option value="1">정기</option>
                        <option value="2">번개</option>
                    </select>
                    <script>
                        if (params.typeValue) {
                            $(`select[name="typeValue"]:last`).val(params.typeValue[0]);
                        }
                    </script>
                </div>

                <div class="form-control">
                    <label class="label">
                                <span class="label-text">
                                    <i class="fa-solid fa-arrow-up-z-a"></i>
                                    정렬
                                </span>
                    </label>
                    <select name="sortCode" class="select select-bordered w-full"
                            onchange="$(this).closest('form').submit();">
                        <option value="1">최신순</option>
                        <option value="2">날짜순</option>
                        <option value="3">조회순</option>
                        <option value="4">인기 적은 순</option>
                        <option value="5">성별순</option>
                        <option value="6">호감사유순</option>
                    </select>
                    <script>
                        if (params.sortCode) {
                            $(`select[name="sortCode"]:last`).val(params.sortCode[0]);
                        }
                    </script>
                </div>
            </div>
            <div class="search-container">
                <div class="input-group ">
                    <input type="text" class="form-control" name="kw" placeholder="검색어" th:value="${param.kw}">
                    <button class="btn btn-outline-secondary" type="submit">찾기</button>
                </div>
            </div>
        </form>
    </div>

    <br>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4" th:each="recruitmentArticle, loop : ${paging}">
                <a class="card mb-4 text-dark"
                   style="width: 100%; height: 18rem; text-decoration: none;"
                   th:href="@{|/recruitment/${recruitmentArticle.id}|}">
                    <div class="card-header bg-white">
                        <div class="card-title mt-3">
                            <div class="smaller-text mb-2">
                                <div class="div">
                                    <span class="div" th:if="${recruitmentArticle.getDeadLineDate().isAfter(now)} and ${recruitmentArticle.getAttend() != recruitmentArticle.getRecruitmentArticleForm().recruitsNumbers}">
                                    <div th:if="${recruitmentArticle.isImpromotu()} " style="margin-right: 2px;">

                                    <span class="border bg-light rounded-4 p-1">
                                        <i class="fa-solid fa-cloud-bolt"></i>
                                        <span class="fw-bold"
                                              th:text="${recruitmentArticle.getTypeValueToString()}"></span>
                                    </span>


                                    </div>

                                    <div th:if="${recruitmentArticle.isRegular()}" style="margin-right: 2px;">


                                        <span class="border bg-light rounded-4 p-1">
                                        <i class="fa-solid fa-user-group"></i>
                                            <span class="fw-bold"
                                                  th:text="${recruitmentArticle.getTypeValueToString()}"></span>
                                        </span>
                                    </div>


                                    <div th:if="${recruitmentArticle.getCreateDate().plusHours(2).isAfter(now)} and ${recruitmentArticle.getDeadLineDate().isAfter(now)}"
                                         style="margin-right: 3px;">
                                        <span class="border bg-light rounded-4 p-1">

                                            <i class="fa-solid fa-mountain" style="color: #037401;"></i>

                                            <span class="fw-bold" style="color: green">NEW</span></span>
                                    </div>

                                    <div th:if="${recruitmentArticle.views >= 100}" style="margin-right: 2px;">

                                        <span class="border bg-light rounded-4 p-1">
                                            <i class="bi bi-balloon-heart" style="color:blue;"></i>

                                            <span class="fw-bold" style="color:blue;">인기</span></span>
                                    </div>

                                    <div style="margin-right: 2px;">
                                        <span th:if="${now.isBefore(recruitmentArticle.getDeadLineDate())} and ${now.isAfter(recruitmentArticle.getDeadLineDate().minusHours(1))}"
                                              class="border bg-light rounded-4 p-1">
                                            <i class="fa-solid fa-fire" style="color: #ff0000;"></i>
                                            <span class="fw-bold" style="color: #ff0000">마감이 코앞!!</span>
                                        </span>

                                    </div>
                                    </span>

                                    <div style="margin-right: 2px;">
                                    <span class="border bg-light rounded-4 p-1"
                                          th:unless="${recruitmentArticle.getDeadLineDate().isAfter(now)} and ${recruitmentArticle.getAttend() != recruitmentArticle.getRecruitmentArticleForm().recruitsNumbers}">
                                        <i class="fa-regular fa-face-frown"></i>
                                        <span class="fw-bold">마감</span>
                                    </span>
                                    </div>
                                </div>
                            </div>

                            <div class="smaller-text text-secondary mt-1 fw-bold">
                                <span th:text="|마감일 ${#temporals.format(recruitmentArticle.deadLineDate, 'yyyy.MM.dd')} ${recruitmentArticle.getLocalDateTimeTextStyleDay()}|"></span>


                            </div>

                        </div>
                    </div>
                    <div class="card-body ml-2" style="text-decoration: none;">

                        <div class="card-text" style="height: 4rem; /* 예시로 높이를 조절 */">
                            <div class="fw-bold fs-5 mt-2"
                                 style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;"
                                 th:text="${recruitmentArticle.articleName}"></div>
                        </div>

                        <div style="height: 2.5rem">
                            <i class="fa-solid fa-mountain" style="color: #2e6501;"></i>
                            <i style="font-size: 13px; color: darkgreen; font-style: normal; font-weight: bold;"
                               th:text="${recruitmentArticle.recruitmentArticleForm.mountainName}"></i>
                            <i class="fa-solid fa-user-group" style="color: #2e6501;"></i>
                            <i style="font-size: 13px; color: darkgreen; font-style: normal; font-weight: bold;"
                               th:text="|${recruitmentArticle.getAttend()}/${recruitmentArticle.recruitmentArticleForm.recruitsNumbers}|"></i>
                        </div>
                    </div>

                    <div class="card-footer bg-white">
                        <div class="viewr1" style="display: flex; justify-content: space-between;">
                            <div class="viewr2">
                                <div class="mr-1">
                                    <i class="fa-solid fa-person-hiking" style="color: #1a5903; margin-top: 3.5px"></i>
                                </div>

                                <div th:text="${recruitmentArticle.member.nickname}"
                                     style="color: #1a5903; font-weight: bold"></div>

                            </div>
                            <div>

                                <i class="fa-solid fa-eye" style="color: #133b02;"
                                   th:text="${recruitmentArticle.views}">" "</i>

                                <i class="fa bi-heart-fill" style="color: #133b02;"

                                   th:text="${recruitmentArticle.likeableRecruitmentArticles.size()}">" "</i>

                                <i class="fa-solid fa-comments" style="color: #154304;"

                                   th:text="${recruitmentArticle.comment.size()}"> " "</i>


                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- 페이징처리 시작 -->
        <!--        <nav th:if="${!paging.isEmpty()}" th:with="queryStrBase = '?kw=' + ${param.kw != null ? param.kw : ''}">-->
        <nav th:if="${!paging.isEmpty()}"
             th:with="queryStrBase = '?ageRange=' + ${param.ageRange != null ? param.ageRange : ''} + '&dayNight=' + ${param.dayNight != null ? param.dayNight : ''} + '&typeValue=' + ${param.typeValue != null ? param.typeValue : ''} + '&sortCode=' + ${param.sortCode != null ? param.sortCode : '1'} + '&kw=' + ${param.kw != null ? param.kw : ''}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${paging.number == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{|${queryStrBase}&page=0|}">
                        <span>&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|${queryStrBase}&page=${paging.number - 1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(0, paging.totalPages - 1)}"
                    th:classappend="${page == paging.number} ? 'active'"
                    th:if="${page >= paging.number - 5 and page <= paging.number + 5}">
                    <a th:text="${page}" class="page-link" th:href="@{|${queryStrBase}&page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|${queryStrBase}&page=${paging.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${paging.number == paging.totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{|${queryStrBase}&page=${paging.totalPages - 1}|}">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- 페이징처리 끝 -->
    </div>
    <button id="btnScrollToTop">
        <i class="materials-icons"><span class="material-icons">arrow_upward</span></i>
    </button>
    </span><!-- /top-link-block -->
    <script>
        const btnScrollToTop = document.querySelector("#btnScrollToTop");

        btnScrollToTop.addEventListener("click", function () {

            // window.scrollTo(0, 0); left and top

            window.scrollTo({
                left: 0,
                top: 0,
                behavior: "smooth"
            })
        })


    </script>
</main>

</body>

</html>