<html layout:decorate="~{usr/layout/layout.html}" xmlns="http://www.w3.org/1999/html">

<head>
    <title>모집 공고 등록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script id="script" type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=x30bss140l">
    </script>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps-geocoder.js">
    </script>
    <style>
        /* 추가적인 스타일을 적용할 수 있습니다 */
        /* 모집 공고 등록 화면에서 산 검색 결과에 호버효과 적용을 위한 스타일 */
        .list-group-item:hover {
            background-color: #007bff;
            color: #fff;
        }
    </style>
</head>

<body>

<main layout:fragment="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-black lh-1 fs-2">1. 모집 공고 정보를 입력해주세요.</h1>
        </div>
    </div>

    <form th:action method="post" th:object="${createForm}">
        <div th:replace="~{usr/recruitment/form_errors :: formErrorsFragment}"></div>

        <div class="row g-3 mb-3 mt-4">
            <div class="col-md-6 mb-2">
                <label for="typeValue" class="form-label">글 타입</label>
                <select required class="form-select " th:field="*{typeValue}">
                    <option value="">번개/정기 공고 선택</option>
                    <option value="1">번개</option>
                    <option value="2">정기</option>
                </select>
            </div>
            <div class="col-md-6 mb-2">
                <label for="dayNight" class="form-label">주간/야간</label>
                <select required class="form-select" th:field="*{dayNight}">
                    <option value="">주간/야간 선택</option>
                    <option value="1">주간</option>
                    <option value="2">야간</option>
                </select>
            </div>

            <div class="col-md-6 mb-2">
                <label for="mountainName" class="form-label">산 이름</label>
                <div class="card">
                    <div class="input-group">
                        <input type="text" id="textInput" placeholder="산 이름" class="form-control"
                               th:field="*{mountainName}">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                                onclick="openModal()">산
                            주소 검색
                        </button>

                        <div id="myModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">산 명을 검색하고 주소를 선택해주세요.</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <span>산 이름을 입력해주세요.</span>
                                        <input type="text" id="searchInput" placeholder="산 이름" class="form-control">
                                        <button type="button" onclick="search()" class="btn btn-primary mt-2">검색
                                        </button>

                                        <div id="map" style="width:100%;height:400px;"></div>

                                        <ul id="searchResults" class="list-group mt-3"></ul>
                                        <br>
                                        <span>선택한 주소 확인</span>
                                        <input type="text" id="resultInput" class="form-control">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        <button type="button" class="btn btn-primary" onclick="saveSelectedValue()"
                                                data-dismiss="modal">저장
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script>
                            var selectedValue = "";

                            function search() {
                                var input = document.getElementById("searchInput").value;

                                if (!input) {
                                    alert("검색어를 입력해주세요.");
                                    return;
                                }

                                // 서버로 값을 전달하고 검색 결과를 받아옴
                                $.ajax({
                                    type: "POST",
                                    url: "/api/server/search",
                                    data: {query: input},
                                    success: function (response) {
                                        // 검색 결과를 동적으로 생성하여 표시
                                        var searchResults = document.getElementById("searchResults");
                                        searchResults.innerHTML = "";  // 이전 검색 결과 초기화

                                        for (var i = 0; i < response.length; i++) {
                                            var li = document.createElement("li");
                                            li.textContent = response[i].address;
                                            //li.textContent = response[i].title + " (" + response[i].address + ")";
                                            li.classList.add("list-group-item");
                                            li.style.cursor = "pointer";

                                            li.setAttribute("data-title", response[i].title);
                                            li.setAttribute("data-mapx", response[i].mapx);
                                            li.setAttribute("data-mapy", response[i].mapy);
                                            li.setAttribute("data-category", response[i].category);

                                            li.onclick = function () {
                                                // 검색 결과를 클릭하면 해당 값을 입력란에 채움
                                                document.getElementById("resultInput").value = this.textContent;
                                                //document.getElementById("textInput").value = this.textContent;

                                                var tm128 = new naver.maps.Point(this.dataset.mapx, this.dataset.mapy);
                                                var center = naver.maps.TransCoord.fromTM128ToLatLng(tm128);

                                                var map = new naver.maps.Map('map', {
                                                    //center: center,
                                                    zoom: 13,
                                                    zoomControl: true
                                                });
                                                map.setCenter(center);
                                            };
                                            searchResults.appendChild(li);
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        // 에러 처리 로직
                                        console.error(error);
                                    }
                                });
                            }

                            function openModal() {
                                var inputText = document.getElementById("textInput").value;
                                document.getElementById("searchInput").value = inputText;
                            }

                            function saveSelectedValue() {
                                document.getElementById("textInput").value = document.getElementById("searchInput").value;
                                document.getElementById("mtAddressInput").value = document.getElementById("resultInput").value;
                                var inputValue = document.getElementById("textInput").value;
                                selectedValue = inputValue;
                                selectedValue = "";  // selectedValue 초기화
                                document.getElementById("searchInput").value = "";
                                document.getElementById("resultInput").value = "";
                                clearSearchResults();
                                closeModal();
                            }

                            function clearSearchResults() {
                                var searchResults = document.getElementById("searchResults");
                                searchResults.innerHTML = "";
                            }

                            function handleSearchInput(event) {
                                var inputField = event.target;

                                if (inputField.id === "textInput") {
                                    if (event.key === "Enter") {
                                        event.preventDefault();
                                        openModal();
                                        return false;
                                    }
                                } else if (inputField.id === "searchInput") {
                                    if (event.key === "Enter") {
                                        event.preventDefault();
                                        search();
                                        return false;
                                    }
                                }
                            }

                            function closeModal() {
                                $('#myModal').modal('hide');
                            }
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-2">
                <label for="mtAddress" class="form-label">선택한 주소</label>
                <input maxlength="20" id="mtAddressInput" autocomplete="off" type="text" placeholder="산 이름"
                       class="form-control"
                       th:field="*{mtAddress}">
            </div>


            <div class="col-md-6 mb-2">
                <label for="recruitsNumber" class="form-label">모집 인원수</label>
                <input required autocomplete="off" type="number" placeholder="모집 인원 수" class="form-control"
                       th:field="*{recruitsNumber}">
                <!--        <span>명</span>-->
            </div>

            <div class="col-md-6 mb-2">
                <label for="ageRange" class="form-label">연령대</label>
                <input autocomplete="off" type="number" placeholder="연령대" class="form-control" th:field="*{ageRange}">
            </div>


            <div class="col-md-6 mb-2">
                <label for="startTime" class="form-label">출발 시간 (선택)</label>
                <input type="datetime-local" class="form-control" th:field="*{startTime}"
                       th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')}">
            </div>

            <div class="col-md-6 mb-2">
                <label for="courseTime" class="form-label">종료 예정 시간 (선택)</label>
                <input type="datetime-local" class="form-control" th:field="*{courseTime}"
                       th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')}">
            </div>

            <div class="col-md-6 mb-2">
                <label for="connectType" class="form-label">연락 방법</label>
                <input required autocomplete="off" type="text" placeholder="연락 방법" class="form-control"
                       th:field="*{connectType}">
            </div>

            <div class="col-md-6 mb-2">
                <label for="deadLineDate" class="form-label">모집 마감 시간</label>
                <input type="datetime-local" class="form-control" th:field="*{deadLineDate}"
                       th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')}">
            </div>
        </div>


        <div class="d-flex align-items-center p-3 my-3 mt-5 text-black bg-purple rounded shadow-sm">
            <div class="lh-1">
                <h1 class="h6 mb-0 text-black lh-1 fs-2">2. 모집 공고를 소개해주세요.</h1>
            </div>
        </div>


        <div class="mb-3">
            <label for="articleName" class="form-label">제목</label>
            <input required maxlength="200" autocomplete="off" type="text" placeholder="제목(200자 이하)"
                   class="form-control" th:field="*{articleName}">
            <!--
            th:field="*{subject}" ==> id="subject" name="subject" th:value="*{subject}"
            -->
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea required placeholder="내용" class="form-control" rows="10"
                      th:field="*{content}"></textarea>
            <!--
            th:field="*{content} ==> id="content" name="content" th:text="*{content}"
            -->
            <!--
            required를 입력하면 해당칸들을 빈칸으로 넘어갈 수가 없다. 또 "이 입력란을 작성하세요" 라는 메시지가 뜸
            -->
        </div>

        <button type="submit" class="btn btn-primary my-2">저장하기</button>
    </form>
</main>

</body>

</html>