<html layout:decorate="~{usr/layout/layout.html}">
<link rel="stylesheet" href="common.css">
<head>
</head>
<body>
<main layout:fragment="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <h2 th:text="${recruitmentArticle.articleName}">제목</h2>
                    <div>
                        <span th:text="${recruitmentArticle.member.nickname}">닉네임</span>
                        <div class="vr"></div>
                        <span th:text="${recruitmentArticle.getCreateDateToString()}">게시글 날짜</span>
                        <div class="vr"></div>
                        <i class="bi bi-eye"></i>
                        <span th:text="${recruitmentArticle.views}">조회수</span>
                    </div>
                    <hr>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="font-weight-bold">모임 구분</span>
                            <div class="vr"></div>
                            <span th:text="${recruitmentArticle.getTypeValueToString()}">모임 구분</span>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">산 이름</span>
                            <div class="vr"></div>
                            <span th:text="${recruitmentArticle.recruitmentArticleForm.mountainName}">산 이름</span>
                            <button type="button" data-toggle="modal"
                                    data-target="#hikingTrailModal">
                                등산로
                            </button>
                            <button type="button" data-toggle="modal"
                                    data-target="#restaurant">
                                주변 맛집
                            </button>
                            <button type="button" data-toggle="modal"
                                    data-target="#parkingLot">
                                주변 주차장
                            </button>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">주야</span>
                            <div class="vr"></div>
                            <span th:text="${recruitmentArticle.recruitmentArticleForm.getDayNightToString()}">주1 야2</span>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">모집 인원</span>
                            <div class="vr"></div>
                            <span th:text="${recruitmentArticle.recruitmentArticleForm.recruitsNumbers}">모집 인원</span>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">연령대</span>
                            <div class="vr"></div>
                            <span th:text="${recruitmentArticle.recruitmentArticleForm.ageRange}">연령대</span>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">등산 시작 시각</span>
                            <div class="vr"></div>
                            <span th:text="${recruitmentArticle.recruitmentArticleForm.getStartTimeToString()}">등산 시작 시각</span>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">예상 도착 시간</span>
                            <div class="vr"></div>
                            <span th:text="${recruitmentArticle.recruitmentArticleForm.getCourseTimeToString()}">예상 도착 시각</span>
                        </li>
                        <li class="list-group-item">
                            <span class="font-weight-bold">연락 방법</span>
                            <div class="vr"></div>
                            <span th:text="${recruitmentArticle.recruitmentArticleForm.connectType}">연락 방법</span>
                        </li>

                        <li class="list-group-item">

                            <span class="font-weight-bold">마감일</span>
                            <div class="vr"></div>
                            <span th:text="${recruitmentArticle.getDeadLineDateToString()}">마감일</span>
                            <button type="button"
                                    th:if="${recruitmentArticle.getDeadLineDate().isAfter(nowDate)}"
                                    th:onclick="|location.href='@{/recruitment/{id}/attend (id=${recruitmentArticle.id})}'|">
                                신청
                            </button>

                            <span class="font-weight-bold"
                                  th:unless="${recruitmentArticle.getDeadLineDate().isAfter(nowDate)}">
                                마감 시간이 지났어요. 다음에 신청해주세요!
                                </span>
                            <form th:action="@{/recruitment/{id}/deadLine (id=${recruitmentArticle.id})}"
                                  method="post">
                                <button type="submit"
                                        th:if="${recruitmentArticle.getDeadLineDate().isAfter(nowDate)}">
                                    마감
                                </button>
                            </form>

                        </li>

                    </ul>
                    <hr>
                    <div th:text="${recruitmentArticle.content}">게시글 내용</div>
                    <hr>
                    <button>수정</button>
                    <button href="javascript:" onclick="if ( confirm('삭제하시겠습니까?') ) $(this).next().submit();">
                        삭제
                    </button>
                    <form hidden th:action="@{|/recruitment/${recruitmentArticle.id}/delete|}" method="POST">
                        <input type="hidden" name="_method" value="delete">
                    </form>
                    <button href="javascript:" onclick="if ( confirm('찜하시겠습니까?') ) $(this).next().submit();">
                        찜
                    </button>
                    <form hidden th:action="@{|/member/bookmark/${recruitmentArticle.id}|}" method="POST">
                    </form>
                    <button type="button" data-toggle="modal"
                            data-target="#reportingArticleModal">
                        신고
                    </button>
                </section>
            </div>
        </div>
    </div>

    <div class="container">
        <form th:object="${comments}">


            <!--        <div class="card-header bi bi-chat-dots">-->
            <!--            <span th:if="${comments.size() > 0}" th:text="${comments.size()}"></span> Comments-->
            <!--        </div>-->
            <ul class="list-group-flush">
                <li class="list-group-item" th:each="comment : ${comments}">
            <span>
                <span th:if="${comment.member==writer}" style="font-size: x-large"
                      th:text="작성자"></span>
                <span th:if="${comment.member==me}" style="font-size: x-large"
                      th:text="나"></span>
                <span style="font-size: large" th:text="${comment.member.nickname}"></span>
                <span style="font-size: small" th:text="${comment.createDate}"></span>&nbsp;

                <div class="container1">
                <button type="button" class="badge bi bi-pencil-square"
                        th:onclick="|location.href='@{/recruitment/comment/{id}/edit (id=${comment.id})}'|">수정</button>
                <button type="button" class="badge bi bi-trash"
                        th:onclick="|location.href='@{/recruitment/comment/{id}/delete (id=${comment.id})}'|">삭제</button>
                </div>
                <span style="font-size: large" th:text="${comment.content}"></span>
            </span>

                </li>
            </ul>
        </form>
        <form th:object="${comments}" method="post" th:action="@{|/recruitment/${recruitmentArticle.id}/comment|}">


            <p>
                <textarea rows="5" cols="50" name="content"></textarea>
            </p>
            <p>
                <button type="submit">댓글 작성</button>
            </p>

        </form>
    </div>


    <th:block th:replace="~{/usr/api/hikingTrail :: hikingTrail()}"></th:block>
    <th:block th:replace="~{/usr/api/restaurant :: restaurant}"></th:block>
    <th:block th:replace="~{/usr/api/parkingLot :: parkingLot}"></th:block>
    <<<<<<< HEAD
    =======
    <th:block th:replace="~{/report/report :: reporting()}"></th:block>
    >>>>>>> da606ad3312c622f1f11ffa26a2b836b9f375bf0
</main>
</body>
</html>