<html layout:decorate="~{usr/layout/layout.html}">
<head>
</head>
<body>
<main layout:fragment="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <h2>신청한 공고 목록</h2>
                    <ul th:if="${!#lists.isEmpty(attendList)}" class="list-group">
                        <li th:each="attendLists: ${attendList}"
                            class="list-group-item">
                            <a th:href="@{|/recruitment/${attendLists.recruitmentArticle.id}|}"
                               th:text="${attendLists.recruitmentArticle.articleName}">
                                공고 제목</a>
                            <a th:text="${attendLists.id}"></a>
                            <div class="vr"></div>
                            <span th:text="${attendLists.recruitmentArticle.recruitmentArticleForm.mountainName}">
                            </span>
                            <div class="vr"></div>
                            <span th:text="${attendLists.recruitmentArticle.getDeadLineDateToString()}">
                            </span>
                            <form th:action="@{|/recruitment/${attendLists.id}/attend/create|}"
                                  method="POST">
                                <button type="submit">수락</button>
                            </form>

                            <form th:action="@{|/recruitment/${attendLists.id}/attend/delete|}"
                                  method="POST">
                                <button type="submit">거절</button>
                            </form>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</main>
</body>
</html>