<html layout:decorate="~{usr/layout/layout.html}">
<link rel="stylesheet" href="common.css">
<head>
</head>
<body>
<main layout:fragment="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <h2>참가자 목록</h2>
                    <ul th:if="${!#lists.isEmpty(attendList)}" class="list-group">
                        <li th:each="attendLists: ${attendList}"
                            class="list-group-item">
                            <a th:href="@{|/recruitment/${attendLists.recruitmentArticle.id}|}"
                               th:text="${attendLists.recruitmentArticle.articleName}">
                                공고 제목</a>
                            <div class="vr"></div>
                            <span th:text="${attendLists.member.nickname}">
                            </span>
                            <div class="vr"></div>
                            <span th:text="${attendLists.member.gender}">
                            </span>
                            <div class="vr"></div>
                            <span th:text="${attendLists.member.email}">
                            </span>
                            <div class="vr"></div>
                            <span th:text="${attendLists.member.age}">
                            </span>
                            <div class="vr"></div>
                            <div class="containerIn">
                                <form th:action="@{|/recruitment/${attendLists.id}/attend/create|}"
                                      method="POST">
                                    <button onclick="if ( confirm('수락하시겠습니까?') ) $(this).next().submit();"
                                            class="btn btn-primary" type="submit">수락
                                    </button>
                                </form>

                                <form th:action="@{|/recruitment/${attendLists.id}/attend/delete|}"
                                      method="POST">
                                    <button href="javascript:"
                                            onclick="if ( confirm('거절하시겠습니까?') ) $(this).next().submit();"
                                            class="btn btn-primary" type="submit">거절
                                    </button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</main>
</body>
</html>