<!DOCTYPE html>
<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <style>
        /* 대화 내용 창 스타일 */
        .chat-history {
            width: 70%; /* 화면 너비의 70%로 설정 */
            margin: 0 auto; /* 가운데 정렬을 위해 margin을 auto로 설정 */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: #EAF5E3; /* 옅은 초록색 배경색 */
            padding: 10px;
            overflow-y: scroll;
            height: 400px;
        }

        .my-message {
            align-self: flex-end;
            margin-left: auto;
            text-align: right;
        }

        .other-message {
            align-self: flex-start;
            margin-right: auto;
            text-align: left;
        }

        .chat-message {
            margin-top: 10px;
            display: flex;
            align-items: center;
        }

        .chat-message input {
            flex: 1;
        }

        .chat-message button {
            margin-left: 10px;
        }
    </style>

</head>

<main layout:fragment="main">
    <th:block th:fragment="content">

        <!-- 수정된 HTML -->
        <div id="chat" class="chat">
            <div class="chat-header clearfix">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="chat-about">
                            <span id="myId" class="m-b-0" th:text="${room.roomName}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <button id="button-exit" type="button" class="input-group-text" data-toggle="tooltip"
                    data-placement="top" title="Exit chat">
                <i class="fas fa-arrow-right-from-bracket"></i>
            </button>

            <!-- 수정된 HTML -->
            <div id="msgArea" class="chat-history">
                <th:block style="list-style: none" th:each="message : ${room.chatMessageList}">
                    <div th:if="${message.sender} == null" class="chat-message admin-message">
                        <div class="message-content alert alert-secondary">
                            <b th:text="관리자 + ' : ' + ${message.message}"></b>
                        </div>
                    </div>
                    <div th:if="${message.sender != null and message.sender.id == member.id}"
                         class="chat-message my-message">
                        <div class="message-content alert alert-secondary">
                            <b th:text="${message.sender.nickname} + ' : ' + ${message.message}"
                               style="word-break: break-all; text-align: right;"></b>
                        </div>
                    </div>
                    <div th:if="${message.sender != null and message.sender.id != member.id}"
                         class="chat-message other-message">
                        <div class="message-content alert alert-warning">
                            <b th:text="${message.sender.nickname} + ' : ' + ${message.message}"
                               style="word-break: break-all; text-align: left;"></b>
                        </div>
                    </div>
                </th:block>
            </div>


            <div class="chat-message clearfix">
                <input id="msg" type="text" class="form-control" placeholder="Enter text here...">
                <button id="button-send" type="button" class="input-group-text" data-toggle="tooltip"
                        data-placement="top" title="Send a message">
                    <i id="plane" class="fas fa-paper-plane" style="font-size: inherit;"></i>
                </button>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.5.0/js/bootstrap.bundle.min.js"
                integrity="sha512-ALQXHnkwBzk0bNf4yMn+4xUoZyYm9GclpgSpdF+Q3f6oUqQVXrLk9I07FGSNT+3Q4kZq/n9JvazW2f/8P6X0sg=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js"
                integrity="sha512-2hPuJOZB0q6Eu4RlRRL2/8/MZ+IoSSxgDUu+eIUNzHOoHLUwf2xvrMFN4se9mu0qCgxIjHum6jdGk/uMiQoMpQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

        <script th:inline="javascript">
            $(document).ready(function () {

                var roomId = [[${room.roomId}]];
                var roomName = [[${room.name}]];
                var username = [[${member.nickname}]];

                var sockJs = new SockJS("/ws/chat");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                var stomp = Stomp.over(sockJs);

                //2. connection이 맺어지면 실행
                stomp.connect({}, function () {

                    //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                    stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                        var content = JSON.parse(chat.body);

                        var writer = content.writer;
                        var str = '';

                        if (writer === username) {
                            str = "<div class='chat-message my-message'>";
                            str += "<div class='message-content alert alert-secondary'>";
                            str += "<b>" + writer + " : " + content.message + "</b>";
                            str += "</div></div>";
                        } else {
                            str = "<div class='chat-message other-message'>";
                            str += "<div class='message-content alert alert-warning'>";
                            str += "<b>" + writer + " : " + content.message + "</b>";
                            str += "</div></div>";
                        }

                        $("#msgArea").append(str);
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    });

                    //3. send(path, header, message)로 메세지를 보낼 수 있음
                    stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
                });

                //엔터를 누르면 메시지 전송
                $("#msg").on("keydown", function (event) {
                    if (event.keyCode === 13) {
                        event.preventDefault();
                        document.getElementById('button-send').click();
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    }

                    // 스크롤 아래로 내리기
                    var chatHistory = document.getElementById("msgArea");
                    chatHistory.scrollTop = chatHistory.scrollHeight;
                });

                $("#button-send").on("click", function (e) {
                    var msg = document.getElementById("msg");

                    stomp.send('/pub/chat/message', {}, JSON.stringify({
                        roomId: roomId,
                        message: msg.value,
                        writer: username
                    }));
                    msg.value = '';

                    // 스크롤 아래로 내리기
                    var chatHistory = document.getElementById("msgArea");
                    chatHistory.scrollTop = chatHistory.scrollHeight;
                });
            });

            $('#chat').scrollTop($('#chat')[0].scrollHeight);

            // 채팅방이 로드 되었을 때
            $(document).ready(function () {
                $('#chat').scrollTop($('#chat')[0].scrollHeight);

                // 하단 스크롤 이동 버튼
                $('.button-send').click(function (e) {
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
            });
        </script>
    </th:block>
</main>
</html>
