<head>
</head>
<body>
<main layout:fragment="reviewAttendList">
    <div class="container mt-5">
        <h2 class="my-4">참가자 목록</h2>
        <div class="row">
            <div class="col-md-8">
                <section>
                    <div class="mr-3">
                        <a th:href="@{|/recruitment/${recruitmentArticle.id}|}"
                           th:text="${recruitmentArticle.articleName}"
                           class="text-decoration-none">
                            공고 제목
                        </a>
                    </div>

                    <ul th:if="${!#lists.isEmpty(attendList)}" class="list-group">
                        <li th:each="recruitmentPeople: ${attendList}" class="list-group-item">
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                    <span th:text="${recruitmentPeople.getMember().getNickname()}">
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- 신청한 공고 없을 때의 메시지 -->
                    <div th:if="${#lists.isEmpty(attendList)}" class="text-muted mt-4">
                        신청한 공고가 없습니다.
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
</body>
