<html layout:decorate="~{usr/layout/layout.html}">
<link rel="stylesheet" href="common.css">
<head>

</head>
<body>
<main layout:fragment="main">
    <div class="container mt-5">
        <h2 class="my-4">참가자 목록</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="mr-3">
                    <a th:href="@{|/recruitment/${recruitmentArticle.id}|}"
                       th:text="${recruitmentArticle.articleName}"
                       class="text-decoration-none">
                        공고 제목
                    </a>
                </div>

                <ul th:if="${!#lists.isEmpty(reviewMemberList)}" class="list-group">
                    <li th:each="reviewMember: ${reviewMemberList}" class="list-group-item"
                        th:if="${reviewMember.getReviewMember() != me}">
                        <div class="d-flex align-items-center">
                            <div class="mr-3">

                                <span th:text="${reviewMember.getReviewMember().getNickname()}">
                                </span>

                                <a th:unless="${!reviewMember.isReviewComplete()}"
                                   class="btn btn-outline-success disabled"
                                   role="button"
                                   aria-disabled="true">리뷰남기러 가기</a>

                                <a th:if="${!reviewMember.isReviewComplete()}"
                                   class="btn btn-outline-success"
                                   th:href="@{|/review/write/${reviewMember.id}|}">리뷰남기러 가기</a>

                            </div>
                        </div>
                    </li>
                </ul>

                <a class="btn btn-outline-success"
                   th:href="@{|/|}">리뷰를 다 남겼어요.</a>>
                </a>


                <!-- 신청한 공고 없을 때의 메시지 -->
                <div th:if="${#lists.isEmpty(reviewMemberList)}" class="text-muted mt-4">
                    참가한 멤버가 없습니다.
                </div>
            </div>
        </div>
    </div>
</main>
</body>
