<html layout:decorate="~{common/layout.html}">

<body>

<header layout:fragment="header">

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">오름 오름</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active mr-4">
                        <a th:href="@{/recruitment/report/list}" class="btn btn-outline-secondary"
                           th:if="${@rq.admin}">신고된 공고 목록</a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a th:href="@{/recruitment/create}" class="nav-link">
                            <i class="bi bi-file-earmark-plus fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a th:href="@{/recruitment/fromList}" class="nav-link">
                            <i class="bi bi-person-lines-fill fa-2x"></i>
                        </a>
                    </li>

                    <li class="nav-item active mr-4">
                        <a th:href="@{/notification/list}" class="nav-link">
                            <i th:unless="${@rq.hasUnreadNotifications}" class="bi bi-bell fa-2x"></i>
                            <i th:if="${@rq.hasUnreadNotifications}" class="bi bi-bell fa-2x "
                               style="color: red;"></i>
                        </a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a th:href="@{/chat/rooms}" class="nav-link">
                            <i class="fa-solid fa-comments fa-2x"></i>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a sec:authorize="isAnonymous()" data-bs-toggle="modal"
                           data-bs-target="#exampleModalCenter" class="nav-link">
                            <i class="bi bi-box-arrow-right fa-2x"></i>
                        </a>

                        <div class="dropdown nav-link " sec:authorize="isAuthenticated()">
                            <a type="button" id="dropdownMenuButton" class="text-body"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-caret-down-square fa-2x"></i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/member/mypage}">마이페이지</a>
                                <a class="dropdown-item" th:href="@{/user/logout}">로그아웃</a>
                            </div>
                        </div>
                        <th:block th:replace="~{usr/layout/loginModal :: setLogin(~{this::login} )}"></th:block>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>