<html layout:decorate="~{common/layout.html}">

<body>

<header layout:fragment="header">

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">오름 오름</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item active mr-4">
                        <a th:href="@{/recruitment/report/list}" class="btn btn-outline-secondary"
                           th:if="${@rq.admin}">신고된 공고 목록</a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a th:href="@{/recruitment/create}" class="nav-link">
                            <i style="font-size: 15px; color: darkgreen; font-style: normal; font-weight: bold;">글
                                쓰기</i>
                        </a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a th:href="@{/recruitment/fromList}" class="nav-link">
                            <i style="font-size: 15px; color: darkgreen; font-style: normal; font-weight: bold;">참여자
                                목록</i>
                        </a>
                    </li>

                    <li class="nav-item active mr-4">
                        <a th:href="@{/notification/list}" class="nav-link">

                            <i th:unless="${@rq.hasUnreadNotifications}"
                               style="font-size: 15px; color: darkgreen; font-style: normal; font-weight: bold;">알림</i>
                            <i th:if="${@rq.hasUnreadNotifications}"
                               style="font-size: 15px; color: red; font-style: normal; font-weight: bold;">알림</i>

                        </a>
                    </li>
                    <li class="nav-item active mr-4">
                        <a th:href="@{/chat/rooms}" class="nav-link">
                            <i style="font-size: 15px; color: darkgreen; font-style: normal; font-weight: bold;">채팅방</i>
                        </a>
                    </li>

                    <li class="nav-item active">
                        <button sec:authorize="isAnonymous()" data-bs-toggle="modal"
                                data-bs-target="#exampleModalCenter" class="nav-link"
                                style="background-color: transparent; border: none">
                            <i style="font-size: 15px; color: darkgreen; font-style: normal; font-weight: bold;"
                            >로그인</i>
                        </button>

                        <div class="dropdown nav-link " sec:authorize="isAuthenticated()">
                            <a type="button" id="dropdownMenuButton" class="text-body"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i style="font-size: 15px; color: darkgreen; font-style: normal; font-weight: bold;">더보기</i>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" th:href="@{/member/mypage}">
                                    <i style="font-size: 15px; color: darkgreen; font-style: normal; font-weight: bold;">마이
                                        페이지</i>
                                </a>
                                <a class="dropdown-item" th:href="@{/user/logout}">
                                    <i style="font-size: 15px; color: darkgreen; font-style: normal; font-weight: bold;">로그아웃</i>
                                </a>
                            </div>
                        </div>
                        <th:block th:replace="~{usr/layout/loginModal :: setLogin(~{this::login} )}"></th:block>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>