<html lang="en">

<th:block th:fragment="setLogin(login)">

    <script>
        // 현재 페이지의 URL을 localStorage에 저장합니다.
        localStorage.setItem('previousUrl', window.location.href);
    </script>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">오름오름에 오신 것을 환영합니다!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <!--                        <span aria-hidden="true">&times;</span>-->
                    </button>
                </div>
                <div class="data">
                    <a href="/oauth2/authorization/kakao" class="btn btn-block btn-outline gap-1 mb-2"
                       style="background-color: #F7E600; text-align: center; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
                        <i class="fa-solid fa-comment fa-5x text-[color:#ffe812]" style="margin-bottom: 30px;"></i>
                        <span class="normal-case" th:text="#{c.startWithKakao}"></span>
                    </a>
                    <a href="/oauth2/authorization/naver" class="btn btn-block btn-outline gap-1 mb-2"
                       style="background-color: #2DB400; text-align: center; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
                        <i class="fa-solid fa-n fa-5x text-[color:#2DB400]" style="margin-bottom: 30px;"></i>
                        <span class="normal-case" th:text="#{c.startWithNaver}" style="color: white"></span>
                    </a>
                    <a href="/oauth2/authorization/google" class="btn btn-block btn-outline gap-1 mb-2"
                       style="background-color: whitesmoke; text-align: center; display: flex; flex-direction: column; justify-content: flex-end; align-items: center;">
                        <i class="fa-brands fa-google fa-5x text-[color:#ff4000]" style="margin-bottom: 30px;"></i>
                        <span class="normal-case" th:text="#{c.startWithGoogle}" style="color: blue"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>