<html layout:decorate="~{usr/layout/layout.html}">
<head>
</head>
<body>
<main layout:fragment="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <h2>찜한 모임 공고</h2>
                    <ul th:if="${!#lists.isEmpty(likeableRecruitmentArticles)}" class="list-group">
                        <li th:each="likeableRecruitmentArticle: ${likeableRecruitmentArticles}"
                            class="list-group-item">
                            <a th:href="@{|/recruitment/${likeableRecruitmentArticle.recruitmentArticle.id}|}"
                               th:text="${likeableRecruitmentArticle.recruitmentArticle.articleName}">
                                공고 제목</a>
                            <button href="javascript:"
                                    onclick="if ( confirm('찜을 해제하시겠습니까?') ) $(this).next().submit();">
                                찜 해제
                            </button>
                            <form hidden th:action="@{|/member/bookmark/${likeableRecruitmentArticle.id}|}"
                                  method="POST">
                                <input type="hidden" name="_method" value="delete">
                            </form>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</main>
</body>
</html>