<head>
</head>
<body>
<main layout:fragment="bookmark">
    <div class="container mt-5">
        <h2 class="my-4">찜한 모임 공고</h2>
        <div class="row">
            <div class="col-md-8">
                <section>
                    <ul th:if="${!#lists.isEmpty(likeableRecruitmentArticles)}" class="list-group">
                        <li th:each="likeableRecruitmentArticle: ${likeableRecruitmentArticles}"
                            class="list-group-item">
                            <div class="mr-3">
                                <a th:href="@{|/recruitment/${likeableRecruitmentArticle.recruitmentArticle.id}|}"
                                   th:text="${likeableRecruitmentArticle.recruitmentArticle.articleName}">
                                    공고 제목</a>
                            </div>
                            <div class="vr"></div>
                            <span th:text="${likeableRecruitmentArticle.recruitmentArticle.recruitmentArticleForm.mountainName}">
                            </span>
                            <div class="vr"></div>
                            <span th:text="${likeableRecruitmentArticle.recruitmentArticle.getDeadLineDateToString()}">
                            </span>
                            <button href="javascript:"
                                    onclick="if ( confirm('찜을 해제하시겠습니까?') ) $(this).next().submit();">
                                찜 해제
                            </button>
                            <form hidden th:action="@{|/recruitment/${likeableRecruitmentArticle.id}/bookmark|}"
                                  method="POST">
                                <input type="hidden" name="_method" value="delete">
                            </form>
                        </li>
                    </ul>
                    <div th:if="${#lists.isEmpty(likeableRecruitmentArticles)}" class="text-muted mt-4">
                        찜한 공고가 없습니다.
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
</body>