<html layout:decorate="~{usr/layout/layout.html}">
<link rel="stylesheet" href="common.css">
<head>
</head>
<style>
</style>

<body>
<main layout:fragment="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <h2>참가자 목록</h2>


                    <li class="list-group-item" th:each="myArticleList : ${myArticle}">
                        <div class="container2">
                            <a th:href="@{|/recruitment/${myArticleList.id}|}"
                               th:text="${myArticleList.articleName} "></a>


                            </form>
                            <span th:if="${myArticleList.recruitmentPeople.isEmpty()}">
                            <i class="fa-regular fa-face-frown-open"> 아직 신청한 사람이 없습니다</i>
                            <i class="fa-regular fa-face-frown-open"></i>

                        </span>
                            <details
                                    th:if="${!@recruitmentService.findByRecruitmentPeopleId(myArticleList.id).isEmpty()}">
                                <summary>참가 인원 보기</summary>
                                <span th:each="recruitmentPeople : ${@recruitmentService.findByRecruitmentPeopleId(myArticleList.id)}"
                                      th:if="${recruitmentPeople.isAttend()}">

                                    <span th:text="${recruitmentPeople.member.nickname}"></span>
                                    <div class="vr"></div>

                                    <span th:if="${recruitmentPeople.member.gender.equals('female')}"
                                          th:text="여자"></span>
                                    <span th:if="${recruitmentPeople.member.gender.equals('male')}" th:text="남자"></span>
                                    <div class="vr"></div>
                                    <span th:text="${recruitmentPeople.member.email}"></span>
                                    <div class="vr"></div>
                                    <span th:text="${recruitmentPeople.member.age}"></span>
                                    <button href="javascript:"
                                            onclick="if ( confirm('추방하시겠습니까?') ) $(this).next().submit();">
                                        추방
                                    </button>
                                    <form hidden th:action="@{|/recruitment/${recruitmentPeople.id}/attend/delete|}"
                                          method="post">
                                        <input type="hidden" name="_method" value="delete">

                                    </form>
                                    <br>
                                </span>

                            </details>
                        </div>


                        <ul th:if="${!@recruitmentService.findByRecruitmentPeopleId(myArticleList.id).isEmpty()}" class="list-group">
                            <li th:each="attendLists : ${@recruitmentService.findByRecruitmentPeopleId(myArticleList.id)}"
                                th:if="${attendLists.isAttend() == false}"
                                class="list-group-item">


                                <span th:text="${attendLists.member.nickname}">
                                </span>
                                <div class="vr"></div>
                                <span th:if="${attendLists.member.gender.equals('female')}"
                                      th:text="여자">
                                </span>
                                <span th:if="${attendLists.member.gender.equals('male')}"
                                      th:text="남자">
                                </span>
                                <div class="vr"></div>
                                <span th:text="${attendLists.member.email}"></span>
                                <div class="vr"></div>
                                <span th:text="${attendLists.member.age}"></span>
                                <div class="vr"></div>
                                <div class="containerIn">
                                    <form th:action="@{|/recruitment/${attendLists.id}/attend/create|}"
                                          method="POST">
                                        <button class="btn btn-primary" type="submit">수락
                                        </button>
                                    </form>

                                    <form th:action="@{|/recruitment/${attendLists.id}/attend/delete|}"
                                          method="post">
                                        <button
                                                class="btn btn-primary" type="submit">거절
                                        </button>
                                    </form>
                                </div>
                            </li>

                        </ul>
                    </li>

                </section>
            </div>
        </div>
    </div>
</main>
</body>
</html>